spring:
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: chat-ws
              uri: ws://localhost:8083
              predicates:
                - Path=/ws/**

            - id: chat-rest
              uri: http://localhost:8083
              predicates:
                - Path=/api/v1/chats/**
              filters:
                - name: JwtAuthentication

            - id: chat-groups
              uri: http://localhost:8083
              predicates:
                - Path=/api/v1/chat-groups/**
              filters:
                - name: JwtAuthentication

            - id: messages
              uri: http://localhost:8083
              predicates:
                - Path=/api/v1/messages/**
              filters:
                - name: JwtAuthentication

            - id: auth-service
              uri: http://localhost:8081/
              predicates:
                - Path=/api/v1/auth/**
              filters:
                - name: JwtAuthentication

            - id: user-service
              uri: http://localhost:8082
              predicates:
                - Path=/api/v1/users/**
              filters:
                - name: JwtAuthentication

            - id: chat-service
              uri: http://localhost:8083
              predicates:
                - Path=/api/v1/chat/**
              filters:
                - name: JwtAuthentication

jwt:
  access:
    public: ${JWT_ACCESS_PUBLIC_PATH:D:\JAVA\CHAT\auth\config\jwt\access_public.pem}

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    org.springframework.web.reactive: DEBUG